# LAN deployment: users and ONLYOFFICE Document Server both reach this host.
REACT_APP_API_BASE_URL=http://192.168.0.87:7511
REACT_APP_DOCUMENT_BASE_URL=http://192.168.0.87:7511
REACT_APP_ONLYOFFICE_CALLBACK_BASE_URL=http://192.168.0.87:7511
REACT_APP_ONLYOFFICE_SERVER=http://192.168.0.87:7000
