# Browser -> Node API
REACT_APP_API_BASE_URL=http://localhost:7511
# ONLYOFFICE Document Server (Docker container) -> Node API/files/callback
REACT_APP_DOCUMENT_BASE_URL=http://host.docker.internal:7511
REACT_APP_ONLYOFFICE_CALLBACK_BASE_URL=http://host.docker.internal:7511
# Browser -> ONLYOFFICE Document Server published port
REACT_APP_ONLYOFFICE_SERVER=http://localhost:7016
