.apprasial_checkExcel_Table{
  margin: 0 auto;
  margin-bottom: 10px;
  td{
    width: 250px;
    height: 50px;
    text-align: center;
    border: solid 1px black;
  }
}
.myTreeSelect {
  .ant-select-selection-item {
    background-color: #f9f0ff !important;
  }
  .ant-select-selection-item-content{
    color: #531dab;
  }
}
.expandHideSearch {
  position: relative;
  font-size: 16px;
  text-align: left;
  top: 10px;
}

.ModalFormTitle {
  color: purple;
  border-bottom: solid 1px purple;
  margin-bottom: 10px;
}

.ModalFormTitle {
  text-align: center;
}

.form_submit_Button {
  background-color: #673AB7;
  width: 100px;
}
.form_submit_Button:hover{
  background-color: #673AB7 !important;
}


//pc
@media screen and (min-width: 576px) {
  .myButtonGroup {
    text-align: center;
  }

  .form_close_Button {
    display: none;
  }

  .pc_form_style {
    padding: 20px;
    border: solid 1px rebeccapurple;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 120px;
    margin-right: 90px;
  }

}

//手機
@media screen and (max-width: 576px) {
  .mySearchBox{
    padding-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .searchCenter {
    text-align: center;
    margin-top: -15px;
    padding-bottom: 5px;
  }

  .form_submit_Button {
    width: 100%;
  }

  .myForm_itemRow {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 15px;
    padding-bottom: 30px;
  }

  .ant-modal-content {
    background-color: #F0EBF8 !important;
  }

  .form_close_Button {
    margin-top: 20px;
    margin-left: 10px;
    background-color: rgb(222, 38, 38);
  }
  .form_close_Button:hover{
    background-color: rgb(222, 38, 38) !important;
  }

  .form_close_Button:before {
    content: "< ";
  }


}


@media screen and (min-width: 769px) {
  .pc_radio_hidden{
    padding-left: 10px !important;
    display: none;
  }
  .ToolbarButtonUpdateStyle{
    float: right;
  }
  .EditTableStyle {
    padding: 30px;

    border: solid 1px grey;
    padding-bottom: 20px;
  }


}

//手機
@media screen and (max-width: 768px) {
  .ToolbarButtonUpdateStyle{
    margin-left: 5px;
  }
  .ant-table-container {
    .ant-form-item-control-input {
      padding: 5px !important;
      background-color: #ffffff !important;
    }

    .ant-table-cell div {
      background-color: #ffffff !important;
    }
  }

  .EditTableStyle {
    background-color: #F0EBF8 !important;
  }

  .myTableCell {
    padding: 5px !important;

    background-color: #ffffff !important;
  }

  .ant-layout-content {
    padding-block: 0 !important;
    padding-inline: 0 !important;
  }

}


//modal 最大化
//.ant-modal {
//  width: 100vw !important;
//  max-width: 100vw !important;
//  top: 0;
//  padding-bottom: 0;
//}
//
//.ant-modal-body {
//  height: calc(100vh);
//  overflow-y: auto;
//}
